//! **************************************************************************
// Written by: Map P.20131013 on Sat Jun 11 01:12:07 2016
//! **************************************************************************

SCHEMATIC START;
COMP "sample<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "keys<0>" LOCATE = SITE "C13" LEVEL 1;
COMP "sample<1>" LOCATE = SITE "D10" LEVEL 1;
COMP "keys<1>" LOCATE = SITE "D12" LEVEL 1;
COMP "sample<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "keys<2>" LOCATE = SITE "C12" LEVEL 1;
COMP "sample<3>" LOCATE = SITE "B1" LEVEL 1;
COMP "keys<3>" LOCATE = SITE "C10" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

